{% extends "partials/core.html.twig" %}

{% block body %}
  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 DRAWINGS ON THE SIDES                                                 #}
  {#-------------------------------------------------------------------------------------------------------#}

  {% include "partials/sides.html.twig" %}

  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 CONTENT                                                               #}
  {#-------------------------------------------------------------------------------------------------------#}

  <div class="magrav-main">
    {% block main %}{% endblock %}
  </div>

  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{% endblock %}
