
{#-------------------------------------------------------------------------------------------------------#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#-------------------------------------------------------------------------------------------------------#}
{#                                 FIGURE OUT IF SHOULD HIDE HEADER                                      #}
{#-------------------------------------------------------------------------------------------------------#}

{% set should_display_header = true %}
{# setup to hide header #}
{% if page.header.hide_header %}
  {% set should_display_header = false %}
{# setup to hide title and intro, or none of them exists actually #}
{% elseif
  (page.header.hide_title or not page.header.title) and
  (no_intro or not page.content)
%}
  {% set should_display_header = false %}
{% endif %}

{#-------------------------------------------------------------------------------------------------------#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#-------------------------------------------------------------------------------------------------------#}
{#                                 DISPLAY HEADER                                                        #}
{#-------------------------------------------------------------------------------------------------------#}

{% if should_display_header %}

  <div class="mtp-header_simple grama-header {{ theme_var("header-title_class") }} {{ page.header.title_class }}" {% if no_border or page.header.header_no_border %}style="border-bottom: none;"{% endif %}>
    {% if not page.header.hide_title %}
      <h1>{{ page.header.title|raw }}</h1>
    {% endif %}
    {% if not no_intro %}
      <div class="grama-header-intro">{{ page.content|raw }}</div>
    {% endif %}
  </div>

{% endif %}

{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
