
{#-------------------------------------------------------------------------------------------------------#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#-------------------------------------------------------------------------------------------------------#}
{#                GET hide_author_headlines VALUE FROM PAGE HEADER, PARENTS PAGE HEADER OR THEME         #}
{#-------------------------------------------------------------------------------------------------------#}

{% set hide_author = theme_var("hide_author_headlines") %}

{#-------------------------------------------------------------------------------------------------------#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#-------------------------------------------------------------------------------------------------------#}
{#                                 DISPLAY POST AUTHORS CARD                                             #}
{#-------------------------------------------------------------------------------------------------------#}

<div class="mtp-post_headline" {% if hide_author %} style="padding: 0;" {% endif %}>

  {# AUTHORS PROFILE IMAGES #}
  {% if not hide_author == true %}
    {% include "partials/authors_avatars.html.twig" with {
      authors: post.header.taxonomy.author ?: [config.site.author.name],
      post: post,
      hover: not withoutAuthorCard,
    } %}
  {% endif %}

  {# AUTHORS NAMES AND POST DATE #}
  <div class="content" {% if hide_author %} style="margin-left: 0;" {% endif %}>
    {# post authors #}
    {% if not hide_author == true %}
      <div class="authors">{{ (post.header.taxonomy.author ?: [config.site.author.name])|join(", ")|raw }}</div>
    {% endif %}
    {# post date #}
    <div class="details {% if fullWidth %}details-full_width{% endif %}">
      <time class="date" datetime="{{ post.header.date|date(system.pages.dateformat.short) }}">{{ post.header.date|date(system.pages.dateformat.short) }}</time>
      {% if fullWidth and post.header.taxonomy.location %}<span class="delimiter">·</span>{% endif %}
      <div class="location">{{ post.header.taxonomy.location }}</div>
    </div>
  </div>

  {# POST TAGS #}
  {% if tags %}
    {% include "partials/tags_list.html.twig" with { tags : tags, tags_list_class: "mtp-post_headline--tags_list" } %}
  {% endif %}

</div>

{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
