
<div class="mtp-post_card">
  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 FEATURE IMAGE                                                         #}
  {#-------------------------------------------------------------------------------------------------------#}

  {% if not post.header.hide_header_image %}
    {% include "partials/post_card_image.html.twig" with { post: post } %}
  {% endif %}

  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 CONTENT                                                               #}
  {#-------------------------------------------------------------------------------------------------------#}

  <div class="mtp-post_card--content">

    <a class="content-link" href="{{ post.url }}">

      {# TITLE #}
      <div class="content-link-title">{{ post.title|raw }}</div>

      {# EXCERPT (if no image) #}
      {% set post_image = post.media.images|first %}
      {% if not post_image or post.header.hide_header_image %}
        <div class="content-link-excerpt">
          <p>{{ post.content|raw|striptags|safe_truncate(200)|raw  }}</p>
        </div>
      {% endif %}

    </a>

    {# POST HEADLINE (CONTAINING: AUTHORS, TAGS, READING TIME...) #}
    {% include "partials/post_headline.html.twig" with { post: post } %}

  </div>

  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
</div>
