{% set sides2display = theme_var("sides") %}

{#-------------------------------------------------------------------------------------------------------#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#-------------------------------------------------------------------------------------------------------#}
{#                                 CONTENT                                                               #}
{#-------------------------------------------------------------------------------------------------------#}

{% set sideImagesList = page.find("/images/sides").media.images %}

{% if sides2display != "right" %}
  <div class="mtp-side mtp-side_left">
    {% for sideImage in sideImagesList|randomize %}
        <img src="{{ sideImage.url }}" loading="lazy">
    {% endfor %}
  </div>
{% endif %}

{% if sides2display != "left" %}
  <div class="mtp-side mtp-side_right">
    {% for sideImage in sideImagesList|randomize %}
        <img src="{{ sideImage.url }}" loading="lazy">
    {% endfor %}
  </div>
{% endif %}

{#-------------------------------------------------------------------------------------------------------#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#-------------------------------------------------------------------------------------------------------#}
{#                                 STYLES                                                                #}
{#-------------------------------------------------------------------------------------------------------#}

{% if sides2display == "both" %}
  <style>
    .magrav-main {
      margin-left: var(--side-width);
    }
  </style>
{% elseif sides2display == "left" %}
  <style>
    .magrav-main {
      margin-left: calc(var(--side-width) * 1.5);
    }
  </style>
{% else %}
  <style>
    .magrav-main {
      margin-left: calc(var(--side-width) * 0.5);
    }
  </style>
{% endif %}

{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
