{% set sides2display = theme_var("sides") %}

{#-------------------------------------------------------------------------------------------------------#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#-------------------------------------------------------------------------------------------------------#}
{#                                 CONTENT                                                               #}
{#-------------------------------------------------------------------------------------------------------#}

{% set sideImagesList = page.find("/images/sides").media.images %}

{% if sides2display == "left" or sides2display == "both" %}
  <div class="mtp-side mtp-side_left">
    {% for sideImage in sideImagesList|randomize %}
        <img src="{{ sideImage.url }}" loading="lazy">
    {% endfor %}
  </div>
{% endif %}

{% if sides2display == "right" or sides2display == "both" %}
  <div class="mtp-side mtp-side_right">
    {% for sideImage in sideImagesList|randomize %}
        <img src="{{ sideImage.url }}" loading="lazy">
    {% endfor %}
  </div>
{% endif %}

{#-------------------------------------------------------------------------------------------------------#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#-------------------------------------------------------------------------------------------------------#}
{#                                 STYLES                                                                #}
{#-------------------------------------------------------------------------------------------------------#}

<style>
  .grama-main {
    {% if sides2display == "left" %}
      margin-left: calc(var(--side-width) * 1.5);
    {% elseif sides2display == "right" %}
      margin-left: calc(var(--side-width) * 0.5);
    {% else %}
      margin-left: var(--side-width);
    {% endif %}
  }
</style>

{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
