
.mtp-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  .mtp-gallery--image {
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      justify-content: center;
    }
    .mtp-gallery--image_title {
      text-align: center;
    }
  }
}
