{% extends "partials/base.html.twig" %}

{% block main %}
	{#-------------------------------------------------------------------------------------------------------#}
	{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
	{#-------------------------------------------------------------------------------------------------------#}
	{#                                 TITLE                                                                 #}
	{#-------------------------------------------------------------------------------------------------------#}

	{% include "partials/header_simple.html.twig" with { no_intro: true, no_border: true, } %}

	{#-------------------------------------------------------------------------------------------------------#}
	{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
	{#-------------------------------------------------------------------------------------------------------#}
	{#                                 CONTENT                                                               #}
	{#-------------------------------------------------------------------------------------------------------#}

	<div class="grama-content grama-text">
		{{ content|raw }}
	</div>

	{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
	{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{% endblock %}
