{% extends "partials/base.html.twig" %}

{% block main %}
  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 MAIN                                                                  #}
  {#-------------------------------------------------------------------------------------------------------#}

  <h1 class="mat-error--code">{{ page.header.http_response_code }}</h1>
  <p class="mat-error--description">{{ page.header.title }}</p>
  <a class="mat-error--link" href="{{ page.find('/').url }}">{{ "ERROR.GO_TO_HOME"|t }}</a>

  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{% endblock %}
