{% extends "partials/base.html.twig" %}

{% block main %}
  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 INTRO                                                                 #}
  {#-------------------------------------------------------------------------------------------------------#}

  {% include "partials/header_simple.html.twig" %}

  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 MODULES                                                               #}
  {#-------------------------------------------------------------------------------------------------------#}

  <div class="magrav-content">
    {% for module in page.collection() %}
      <div class="mat-modular--module">
        {{ module.content|raw }}
      </div>
    {% endfor %}
  </div>

  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{% endblock %}
