{% extends "partials/base.html.twig" %}

{% set post_image = page.media.images|first %}

{% block main %}
	{#-------------------------------------------------------------------------------------------------------#}
	{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
	{#-------------------------------------------------------------------------------------------------------#}
	{#                                 HEADER                                                                #}
	{#-------------------------------------------------------------------------------------------------------#}

	<div class="grama-header" {% if post_image %}style="border-bottom: none;"{% endif %}>

		{# TITLE #}
		<h1 class="mat-post--title">{{ page.header.title }}</h1>

	  {# POST HEADLINE (CONTAINING: AUTHORS, TAGS, DATE) #}
	  {% include "partials/post_headline.html.twig" with { post: page, tags: page.header.taxonomy.tags, withoutAuthorCard: true } %}

	</div>

	{#-------------------------------------------------------------------------------------------------------#}
	{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
	{#-------------------------------------------------------------------------------------------------------#}
	{#                                 CONTENT                                                               #}
	{#-------------------------------------------------------------------------------------------------------#}

  <div class="grama-content">

		{# FEATURE IMAGE #}
	  {% if post_image %}
	    <img class="mat-post--image"
	        loading="lazy"
	        src="{{ post_image.cropResize(1200,1200).url }}"
	        alt="{{ post_image.basename }}"
	    />
	  {% endif %}

		{# POST TEXT #}
    <div class="mat-post--post grama-text">
  		{{ content|raw }}
  	</div>

		{# ADD ADDITIONAL IMAGES AS A GALLERY #}
		{% set additional_images = page.media.images|slice(1) %}
		{% if (not theme_var("hide_image_gallery_in_posts")) and (additional_images|length) %}
			{% include "partials/gallery.html.twig" with { images: additional_images } %}
		{% endif %}

  </div>

  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 FOOTER                                                                #}
  {#-------------------------------------------------------------------------------------------------------#}

  {% if not page.header.noFooter %}
		{% include "partials/post_footer.html.twig" with { post: page } %}
  {% endif %}

	{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
	{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{% endblock %}
