{% extends "partials/base.html.twig" %}

{% set tag =  uri.query("tag") %}

{% block main %}
  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 HEADER                                                                #}
  {#-------------------------------------------------------------------------------------------------------#}

  {% include "partials/header_with_image.html.twig" with { header_title: "#"~ tag } %}

	{#-------------------------------------------------------------------------------------------------------#}
	{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
	{#-------------------------------------------------------------------------------------------------------#}
	{#                                 FEED                                                                  #}
	{#-------------------------------------------------------------------------------------------------------#}

  <div class="grama-content">

    <h2>{{ "TAG.POSTS_WITH_THIS_TAG"|t }}</h2>

    {# FEED OF POSTS HAVING THIS TAG #}
    <div class="grama-feed">
      {% for p in taxonomy.findTaxonomy({ "tags": tag }) %}
        {% include "partials/post_card.html.twig" with { post: p } %}
      {% endfor %}
    </div>

  </div>

	{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
	{#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{% endblock %}
