{% extends "partials/base.html.twig" %}

{% block main %}
  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 HEADER                                                                #}
  {#-------------------------------------------------------------------------------------------------------#}

  {% include "partials/header_simple.html.twig" %}

  {#-------------------------------------------------------------------------------------------------------#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#-------------------------------------------------------------------------------------------------------#}
  {#                                 FEED                                                                  #}
  {#-------------------------------------------------------------------------------------------------------#}

  <div class="grama-content">
    {% include "partials/tags_list.html.twig" with { tags: taxonomy.getTaxonomyItemKeys("tag")|sort } %}
  </div>

  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
  {#|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||#}
{% endblock %}
